.search-form {
  position: relative;

  display: flex;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;

  padding: 20px 0;
}

.search-form__input {
  flex: 1;
  height: 50px;
  padding-left: 10px;
  padding-right: 50px;
  border-radius: 6px;
  border: 1px solid $main-color;
  outline-color: $main-color;
}

.search-form__button {
  position: absolute;
  right: 10px;

  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;

  color: steelblue;

  transition: transform 150ms ease-in;

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:focus-visible {
      transform: scale(1.1);
      transform-origin: center center;
    }

    .search {
      display: initial;
    }

    .spinner {
      display: none;
    }
  }

  &:disabled {
    .search {
      display: none;
    }

    .spinner {
      display: initial;
    }
  }
}
