{{#each this}}
  <li class="country-list__item">
    <img class="country-list__image" width="50" src="{{ flags.svg }}" alt="{{ name.official }} flag">
    <span class="country-list__title">{{ name.official }}</span>
  </li>
{{/each}}
