.country-list {
  @include reset-list;

  max-width: 320px;
  margin: 0 auto;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.country-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.country-list__image {
  width: 70px;
}
